.App {
  font-family: sans-serif;
  text-align: center;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  max-width: 700px;
  margin: 30px auto 5px;
  padding: 20px;
  border: 2px solid #babab9;
  border-radius: 20px;
  background-image: linear-gradient(to top, #ace0f9 0%, #fff1eb 100%);
}

.units {
  float: right;
  margin: 0;
}

.celActive:hover,
.fahActive:hover,
#curr-location:hover {
  text-decoration: none;
}
